/*L'inclusion des polices personnalisés dans la page*/
@font-face
{
    font-family: "Ballpark";
    src: url(polices/ballpark.eot);
    src: url(polices/ballpark.svg);
    src: url(polices/ballpark.ttf);
    src: url(polices/ballpark.woff);
    font-weight: normal;
    font-style: normal;
}
/* *************header************* */
header
{
    border-bottom: 1px, solid, goldenrod;
    height: 100px;
}
#star
{
    width: 20px;
    height: 20px;
}
#film
{
    color:goldenrod;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 50px;
}
#ey
{
    color: darkgray;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 50px;
}
#spotlight
{
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    font-size: 35px;
    font-weight: bold;
}
#year
{
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-size: 25px;
}
#rating
{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
#rating_
{
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-size: 10px;
}
#imdb
{
    color: white;
}
a
{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
}
a:hover
{
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    text-decoration: underline;
    color: goldenrod;
}
#part1header
{
    margin-right: 500px;
}
#barre
{
    margin-left: 1100px;
    margin-top: -60px;
}
#nomDuFilm
{
    margin-top: -30px;
    margin-left: 450px;
}
#separateur
{
    border-bottom: 2px solid goldenrod;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}
/* *************body************* */
body 
{
    /* margin: 0; */
    /* padding: 0; */
    /* height: 100vh; */
    height: 900px;
    background-color: black;
}
.carousel-inner
{
    max-height: 300px;
    margin-top: 100px;
}
#carouselExemple {
    width: 50%;
    margin: 0 auto;
    /* margin-top: 120px; */

}

.carousel-item img {
    width: 100%;
    height: auto;
}
.title
{
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 1.8em;
}
#story
{
    color: white;
    text-align: center;
}
#sto
{
    text-align: center;
}
#sto_
{
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}
h3
{
    font-family: "Ballpark", Arial;
    color: white;
    margin-top: 40px;
}
.rond
{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
#stars
{
    text-align: center;
}
#writers
{
    text-align: center;
}
#director
{
    text-align: center;
}
.rond:hover
{
    transform: scale(1.4);
}
/* *************footer************* */
footer
{
    border-top: 1px, solid, goldenrod;
    height: 100px;
}
#separateur1
{
    border-bottom: 2px solid goldenrod;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}
#copy
{
    font-size: 1em;
    color: grey;
    text-align:right;
}
#phrase
{
    color: goldenrod;
    font-size: 1.5em;
    text-align: center;
}
#social_media
{
    text-align: center;
}
/* *************header & footer************* */
